[Unit]
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=600s

[Service]
Type=idle
Restart=on-failure
RestartSec=600s
ExecStart=/usr/bin/bash /usr/local/bin/wtc-nix
ExecStop=/usr/bin/bash /usr/local/bin/wtc-nix

[Install]
WantedBy=default.target
