[Unit]
DefaultDependencies=no
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes

[Service]
Type=idle
User=root
ExecStart=su - bootcamp -c "/usr/bin/bash /usr/local/bin/bootcamp-nix"
ExecStop=su - bootcamp -c "/usr/bin/bash /usr/local/bin/bootcamp-nix"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
