[Unit]
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target kexec.target umount.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/bash /usr/local/bin/bootcamp-update
ExecStop=/usr/bin/bash /usr/local/bin/bootcamp-update
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
